@charset "UTF-8";
/* 回答はここから */

.box{
  display:inline-block;
  background-color:#ffffff;
  width:200px;
  padding:20px 0;

}
.text-align{
  text-align: center;
}

.text-align p{
  background:#a4b3e9;
  display:inline-block;
  text-align: center;
  font-size:16px;
  padding:10px;
}

.margin p{
  background:#a4b3e9;
  width:90px;
  text-align: center;
  font-size:16px;
  margin:0 auto;
  padding:10px;
}

.display-table{
  display: table;
}
.table-block{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.table-block p{
  background-color: #fff;
  font-size:16px;
  padding:10px;
  display: inline-block;
}

.display-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-text{
  background-color: #fff;
  padding:10px;
}


.container-position{
  position: relative;
  display: inline-block;
  width:250px;
  height:150px;
  background-color:#fff;
}

.p-text{
  background-color: #a4b3e9;
  padding:10px;
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}