@charset "UTF-8";

.center{
  display:flex;
  justify-content:center;
}

.button:first-child{
  margin-left:0;
}

.button{
  padding:0 15px;
  line-height: 50px;
  text-align:center;
  border-radius:10px;
  cursor:pointer;
  margin-left:30px;
}

.red{
  background:#fd0f0fd9;
  color:#fff;
}

.blue{
  background:#170ffdd9;
  color:#fff;
}

.green{
  background:#0ffd0fd9;
  color:#000;
}


.red-shadow{
  background:#fd0f0fd9;
  color:#fff;
  box-shadow:3px 3px 3px rgba(63,5,5,0.851),-3px 3px 3px rgba(63,5,5,0.851);
}

.blue-shadow{
  background:#170ffdd9;
  color:#fff;
  box-shadow:3px 3px 3px rgba(5,13,63,0.851),-3px 3px 3px rgba(5,13,63,0.851);
}

.green-shadow{
  background:#0ffd0fd9;
  color:#000;
  box-shadow:3px 3px 3px rgba(5,63,5,0.581),-3px 3px 3px rgba(5,63,5,0.581);
}

.red-push{
  background:#fd0f0fd9;
  color:#fff;
  box-shadow:3px 3px 3px rgba(63,5,5,0.851),-3px 3px 3px rgba(63,5,5,0.851);
}

.red-push:active{
  background:#fd0f0fd9;
  color:#fff;
  transform:translateY(2px);
  border-bottom:none;
  box-shadow:none;
}

.blue-push{
  background:#170ffdd9;
  color:#fff;
  box-shadow:3px 3px 3px rgba(5,13,63,0.851),-3px 3px 3px rgba(5,13,63,0.851);
}

.blue-push:active{
  background:#170ffdd9;
  color:#fff;
  transform:translateY(2px);
  border-bottom:none;
  box-shadow:none;
}

.green-push{
  background:#0ffd0fd9;
  color:#000;
  box-shadow:3px 3px 3px rgba(5,63,5,0.581),-3px 3px 3px rgba(5,63,5,0.581);
}

.green-push:active{
  background:#0ffd0fd9;
  color:#000;
  transform:translateY(2px);
  border-bottom:none;
  box-shadow:none;
}

.d-button{
  color:#67c5ff;
  border:4px double #67c5ff;
  transition:0.5s;
}

.d-button:hover{
  background: #fffbef;
}

.ha-button{
  color:#67c5ff;
  border:4px dotted #67c5ff;
  transition:0.5s;
}

.ha-button:hover{
  border-style:dashed;
}

.co-button{
  color:#0079a5f8;
  background:#d0edfff8;
  border:4px dashed #67c5ff;
  transition:0.5s;
}

.co-button:hover{
  background:#ffffff;
  color:#67c5ff;
}